*.aux
*.log
*.toc
*.out
methods/cogniveProcessing/Psychotoolbox3
#who cares about mac
methods/cogniveProcessing/MAIR_CPprac1_4/Files_PsychToolboxV2/__MACOSX
# don't know its binary
*.DS_Store
*.m~
*.mat
.~lock.*

# file managers
.directory
.stfolder

# classical binary documents
*.doc
*.odt
*.PDF
*.pdf
*.odg
*.bin

#archives
*.zip
*.tar
*.tar.gz

#vim
*.swp
*.swo

#idea
.idea/
*.iml
*.idx

#gradle
taskArtifacts/

#java binaries
*.jar
*.class

# meshing around with graphs....
*.pdf_tex

