*.aux
*.log
*.pdf
*.toc
*.swp
*.swo
*.zip
cogniveProcessing/Psychotoolbox3
#who cares about mac
cogniveProcessing/MAIR_CPprac1_4/Files_PsychToolboxV2/__MACOSX
# don't know its binary
*.DS_Store
*.m~
*.mat
*.jar
.~lock.*
