*.aux
*.log
*.toc
*.out
methods/cogniveProcessing/Psychotoolbox3
#who cares about mac
methods/cogniveProcessing/MAIR_CPprac1_4/Files_PsychToolboxV2/__MACOSX
# don't know its binary
*.DS_Store
*.m~
*.mat
.~lock.*

#dolphin
.directory

# classical binary documents
*.doc
*.odt
*.PDF
*.pdf
*.odg

#archives
*.zip

#vim
*.swp
*.swo

#idea
.idea/
*.iml

#gradle
taskArtifacts/

#java binaries
*.jar
*.class
