# ???
code

# latex
pva.tex
thesis.tex
auto
*.dvi
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.epub
_minted-*

*.lof
*.lot
*.pyg
*.lol

*.html

# IDK
ltximg

# presentation stuff
reveal.js-*
presentation.tex
socket.io*
output
